@model BusinessObjects.GenderModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="Create" method="post">
    <div>
        @Html.LabelFor(m =>m.Name)
        @Html.EditorFor(m=>m.Name)
    </div>
    <div>
        <input type="submit" value="create gender">
    </div>
</form>